<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="CortexLab">

<title>AEA - Ask Everyone Anything</title>

<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<!--<link rel="stylesheet" th:href="@{css/sb-admin-2.min.css}" />-->
<link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<div th:replace="~{includes/navbar :: navbar}" />


		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<div th:replace="~{includes/topbar :: topbar}" />

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<div th:if="${param.errorMsg}" class="alert alert-danger"
						th:text="${param.errorMsg}"></div>
					<div th:if="${param.warningMsg}" class="alert alert-warning"
						th:text="${param.warningMsg}"></div>
					<div th:if="${param.infoMsg}" class="alert alert-info"
						th:text="${param.infoMsg}"></div>

					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

						<!-- <a href="newQuiz"
								class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
								class="fas fa-download fa-sm text-white-50"></i> Create new quiz</a>
								
								 <a href="newSurvey"
								class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
								class="fas fa-download fa-sm text-white-50"></i> Create new survey</a> -->
					</div>

					<!-- Content Row -->
					<div class="row">

						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-primary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div
												class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total
												quizzes created</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800"
												th:text="${countQuiz}">0</div>
										</div>
										<div class="col-auto">
											<i class="fas fa-question-circle fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-success shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div
												class="text-xs font-weight-bold text-success text-uppercase mb-1">Total
												surveys created</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800"
												th:text="${countSurvey}">0</div>
										</div>
										<div class="col-auto">
											<i class="fas fa-poll fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Earnings (Monthly) Card Example -->
						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-info shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div
												class="text-xs font-weight-bold text-error text-uppercase mb-1">Total
												questions answered</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800"
												th:text="${countAnswer}">0</div>
										</div>
										<div class="col-auto">
											<i class="fas fa-check fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Pending Requests Card Example -->
						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-warning shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div
												class="text-xs font-weight-bold text-warning text-uppercase mb-1">Total
												participants</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800"
												th:text="${totalParticipants}">0</div>
										</div>
										<div class="col-auto">
											<i class="fas fa-bell fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Content Row -->

					<div class="row">

						<div class="col-lg-6">
							<h4>Your created quizzes and surveys</h4>
							<div class="table-responsive">
							<tr th:if="${#request.getAttribute('yourQuizzes').isEmpty()}">You haven't created any quizzes or surveys.</tr>
								<table class="table table-bordered" id="dataTable" width="100%"th:unless="${#request.getAttribute('yourQuizzes').isEmpty()}"
									cellspacing="0">
									<thead>
										<tr>
											<th>Name</th>
											<th>Type</th>
											<!--<th>Start date</th>
											<th>End date</th>-->
											<th>Participants</th>
											<th></th>

										</tr>
									</thead>

									<tbody>
										<tr th:each="quiz : ${#request.getAttribute('yourQuizzes')}">
											<td th:text="${quiz.name}"></td>
											<td th:text="${quiz.quizType}"></td>
											<!-- <td th:text="${quiz.startOn}"></td>
											<td th:text="${quiz.endOn}"></td> -->
											<td th:text="${quiz.attemptCount}"></td>
											<td><a th:if="${quiz.hasEditPerm}"
												th:href="@{/editQuiz(quizId=${quiz.id})}"
												class="btn btn-xs btn-primary" data-toggle="tooltip"
												data-placement="top" title="Edit"> <span
													class="fas fa-edit"></span>
													
													<a th:href="@{/showResult(quizId=${quiz.id})}"
												class="btn btn-xs btn-info" data-toggle="tooltip"
												data-placement="top" title="Show all results"> <span
													class="fas fa-clipboard-list"></span> </a>
													
													</td>
											</a> <!-- <a th:href="@{/editQuiz(quizId=${quiz.id})}"
												class="btn btn-xs btn-primary" data-toggle="tooltip"
												data-placement="top" title="Edit"> <span
													class="fas fa-edit"></span>
											</a> <a th:href="@{/deleteQuiz(quizId=${quiz.id})}"
												class="btn btn-xs btn-danger" data-toggle="tooltip"
												data-placement="top" title="Delete"> <span
													class="fas fa-trash"></span>
											</a> <a th:href="@{/participateQuiz(quizId=${quiz.id})}"
												class="btn btn-xs btn-success" data-toggle="tooltip"
												data-placement="top" title="Participate"> <span
													class="fas fa-play"></span> </a>-->
										</tr>
									</tbody>
								</table>
							</div>

						</div>




						<div class="col-lg-6">
							<h4>Recommended quizzes and surveys for you</h4>
							<div class="table-responsive">
								<tr th:if="${#request.getAttribute('recQuizzes').isEmpty()}">There
									are no recommendations yet.
								</tr>
								<table class="table table-bordered" id="dataTable" width="100%"
									th:unless="${#request.getAttribute('recQuizzes').isEmpty()}"
									cellspacing="0">
									<thead>
										<tr>
											<th>Name</th>
											<th>Type</th>
											<th>Group</th>
											<th th:if="${tagsFound}">Matching tags</th>
											<th>End date</th>

											<th></th>
										</tr>
									</thead>

									<tbody>
										<tr th:each="quiz : ${#request.getAttribute('recQuizzes')}">
											<td th:text="${quiz.name}"></td>
											<td th:text="${quiz.quizType}"></td>
											<td
												th:text="${quiz.group != null ? quiz.group.groupName : 'public'}"></td>
											<td th:if="${tagsFound}"
												th:text="${quiz.matchingTagsToString(5)}"></td>
											<td th:text="${quiz.endOn}"></td>

											<td>
											<a th:if="${quiz.hasEditPerm}"
												th:href="@{/editQuiz(quizId=${quiz.id})}"
												class="btn btn-xs btn-primary" data-toggle="tooltip"
												data-placement="top" title="Edit"> <span
												class="fas fa-edit"></span>
											</a>

											<a th:if="${quiz.hasEditPerm}"
												th:href="@{/deleteQuiz(quizId=${quiz.id})}"
												class="btn btn-xs btn-danger" data-toggle="tooltip"
												data-placement="top" title="Delete"> <span
												class="fas fa-trash"></span>
											</a>

											<a th:href="@{/participateQuiz(quizId=${quiz.id})}" class="btn btn-xs" data-toggle="tooltip" data-placement="top" th:title="${quiz.userHasAnswered == true ? 'Show results' : 'Participate'}" 
								
								th:classappend="${(!quiz.quizIsOpen || !quiz.userIsMember) && !quiz.userHasAnswered} ? btn-secondary : btn-success"
								th:disabled="${(!quiz.quizIsOpen || !quiz.userIsMember) && !quiz.userHasAnswered}">
									<span class="fas" th:classappend="${quiz.userHasAnswered == true} ? fa-clipboard-list : fa-play"></span>
								</a>
											</td>

											<!-- 
											<td><a th:href="@{/editQuiz(quizId=${quiz.id})}"
												class="btn btn-xs btn-primary" data-toggle="tooltip"
												data-placement="top" title="Edit"> <span
													class="fas fa-edit"></span>
											</a> <a th:href="@{/deleteQuiz(quizId=${quiz.id})}"
												class="btn btn-xs btn-danger" data-toggle="tooltip"
												data-placement="top" title="Delete"> <span
													class="fas fa-trash"></span>
											</a> <a th:href="@{/participateQuiz(quizId=${quiz.id})}"
												class="btn btn-xs btn-success" data-toggle="tooltip"
												data-placement="top" title="Participate"> <span
													class="fas fa-play"></span>
											</a></td>-->
										</tr>
									</tbody>
								</table>
							</div>
						</div>


					</div>
					<!-- End of Main Content -->

					<div th:replace="~{includes/footer :: footer}" />

				</div>
				<!-- End of Content Wrapper -->

			</div>
			<!-- End of Page Wrapper -->

			<!-- Scroll to Top Button-->
			<a class="scroll-to-top rounded" href="#page-top"> <i
				class="fas fa-angle-up"></i>
			</a>

			<!-- Logout Modal-->
			<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Ready to
								Leave?</h5>
							<button class="close" type="button" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">Select "Logout" below if you are
							ready to end your current session.</div>
						<div class="modal-footer">
							<button class="btn btn-secondary" type="button"
								data-dismiss="modal">Cancel</button>
							<form th:action="@{/logout}" method="post" class="user">
								<button class="btn btn-lg btn-info btn-block" type="submit">
									Logout</button>
							</form>
						</div>
					</div>
				</div>
			</div>

			<!-- Bootstrap core JavaScript-->
			<script src="vendor/jquery/jquery.min.js"></script>
			<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

			<!-- Core plugin JavaScript-->
			<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

			<!-- Custom scripts for all pages-->
			<script src="js/sb-admin-2.min.js"></script>

</body>

</html>
