<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="CortexLab">

<title>AEA - Public Groups</title>

<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<!--<link rel="stylesheet" th:href="@{css/sb-admin-2.min.css}" />-->
<link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<div th:replace="~{includes/navbar :: navbar}" />
		
			<!-- Content Wrapper -->
			<div id="content-wrapper" class="d-flex flex-column">

				<!-- Main Content -->
				<div id="content">

					<div th:replace="~{includes/topbar :: topbar}" />	

					  <div class="container-fluid">
			          <div class="card shadow mb-4">
			            <div class="card-header py-3">
			              <h6 class="m-0 font-weight-bold text-primary">Public Groups</h6>
                     <div th:if="${param.errorMsg}" class="alert alert-danger" th:text="${param.errorMsg}"></div>
                		<div th:if="${param.message}" class="alert alert-success" th:text="${param.message}"></div>
			            </div>
			            <p class="text-gray-600 p-3 m-0">You have to set a new owner before leaving a group you currently own</p>
			            <div class="card-body">
			              <div class="table-responsive">
			                <table class="table table-bordered" id="groupTable" width="100%" cellspacing="0">
			                  <thead>
			                    <tr>
			                      <th>Name</th>
			                      <th>Description</th>			                      
			                      <th>Action</th>
			                    </tr>
			                  </thead>
			                    <tbody>
			           						<tr th:each="group : ${groups_member}">
															<td th:text="${group.groupName}"></td>
															<td th:text="${group.groupDescription}"></td>																										
																<td><span th:if="${group.groupOwner.id != userid}">
																<a th:href="@{/leaveGroup(id=${group.id},page=public)}">Leave</a> 
																</span></td>												
														</tr>
														<tr th:each="group : ${groups_not_member}">
															<td th:text="${group.groupName}"></td>
															<td th:text="${group.groupDescription}"></td>																										
															<td><a th:href="@{/joinGroup(id=${group.id},page=public)}">Join</a></td>																	
														</tr>
			                    </tbody>
			                </table>
			              </div>
			            </div>
			          </div>                
            </div>
          </div>
        </div>
        
     </div>
  
 <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>
  
  </body>

</html>

